body{    
    font-family: Arial, Helvetica, sans-serif, sans-serif;  
    box-sizing: border-box;
    min-width:fit-content;
    margin-top: 40px;
}

p{
    margin: 40px;
}

nav{    
    display: flex;
    justify-content: space-between;
    background-color:black;
    padding: 10px 10px;
    position:fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1000;
}

nav section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2{ 
    margin-top: 90px;
    margin-left:40px;
}

hr{
    border: 1px solid rgb(241, 241, 241);
    }

form{
    margin-left:40px;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    background-color: #eee;
    min-width: 170px;
}

.section{
    display: flex;
    flex-direction: column;
}

.logo-icon{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-image: url(../assets/Logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-icon:hover{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-toggler{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggler div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.nav-item{
    border-radius: 5px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.nav-item:hover{
    background-color: #00429a;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width:600px) {
    .nav-section{
        flex-direction: column;
        width: 40%;
        display: none;
        text-align: center;
    }

    .logo-icon{
        align-items: center;
    }

    .nav-section.active{
        display: flex; 
    }

    .navbar-toggler{
        display: flex;
        justify-self: right;
    }

    .facility-list{
        display: block;
        block-size: auto;
        justify-content: center;
        text-align: center;
        margin: 20px;
        flex-wrap: wrap;
    }

    .container-facility{
        display: block;
        justify-content: center;
        min-width: 200px;
    }

    .facility-satu{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px;
    }
    .facility-dua{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px;
    }

    .facility-tiga{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px;
    }
}

.home{
    text-align: justify;
    background-color: #ffffff;
}

.carousel-container{
    height:max-content;
    width: 100%;
    max-width: 100%;
    background-size: cover;
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Adjust width based on number of slides */
.slides{
    display: flex;
    transition: transform 0.5s ease;
    width: 150%; 
}

.slide{
    width: 100%;
    flex-shrink: 0;
}

.slide img{
    width: 100%;
    display: block;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.slider button.prev{
    left: 10px;
}

.slider button.next{
    right: 10px;
}

@keyframes slide{
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}

.facilities{
    background-color: #eee;
    min-height: 350px;
}

.facility-list{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px;
    flex-wrap: wrap;
}

.facility-satu{
    background-image: url(../assets/SDI.jpg);
    background-position: center;
    width: 150px;
    height: 150px;
    background-color: #074209;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

.facility-dua{
    background-image: url(../assets/FEI.jpg);
    background-position: center;
    width: 150px;
    height: 150px;
    background-color: #074209;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

.facility-tiga{
    background-image: url(../assets/BED.jpg);
    background-position: center;
    width: 150px;
    height: 150px;
    background-color: #074209;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

.facility-satu:hover{
    width: 200px;
    height: 200px;
}

.facility-dua:hover{
    width: 200px;
    height: 200px;
}

.facility-tiga:hover{
    width: 200px;
    height: 200px;
}

.message-us{
 padding-bottom: 40px;
}

.message-us-section{
    display: flex;
    flex: 1;
    justify-content:left;
    align-content: center;
    flex-wrap: wrap;
}

.form-container{
    flex: 1;
    margin-right: 40px;
    margin-bottom: 40px;
}

.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label{
    width: 30%;
    margin-right: 10px;
    color: #666;
}

.form-group input, .form-group select, .form-group textarea{
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

/* Button */
form button{
    width: 100%;
    padding: 10px;
    background-color:black;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:1em;
}

button:hover{
    background-color: #45a049;
}

/* Pembungkus Textarea*/
.result-container{
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

/* Hasil Input Form */
.form-result>textarea{
    height: 300px;
    width: 100%;
    border: 1px solid #b6b2b2;
    border-radius: 8px;
    font-size: 1em;
    min-width: 170px;
    padding: 20px;
}

.footer{
    background-color: #eee;
    padding: 1px;
    text-align: end;
}